RewriteEngine On

# Some hosts may require you to use the `RewriteBase` directive.
# If you need to use the `RewriteBase` directive, it should be the
# absolute physical path to the directory that contains this htaccess file.
#
RewriteBase /
#RewriteBase /lsid-proxy/


#-----------------------------------------------------------------------------------------
RewriteRule (urn:lsid:.*)\+$	?lsid=$1&noredirect [NC,L]

RewriteRule (urn:lsid:.*$) ?lsid=$1 [NC,L]
